<% include header.html %>

<div ng-app="paintingsWall" class="box profile">
    <fieldset class="">
        <div class="row" ng-controller="classController">
            <br>
            <br>
            <div masonry column-width="50">
                <div class="masonry-brick" ng-repeat="p in paintings">
                    <img class="imgwall" ng-src="/paintings/{{p.authorId}}/{{p.paintingName}}/image.png" name="userimage" id="userimage" />
                </div>
            </div>
        </div>
    </fieldset>
</div>

<script>
    var app = angular.module('paintingsWall', ['wu.masonry']);

    app.controller('classController', function ($scope, $http) {
        var openshiftUrl = "http://gallerylogin-helloworldbasin.rhcloud.com/allpaintings";
        var loaclUrl = "http://localhost:8080/allpaintings"

        $http.get(openshiftUrl).success(function (paintings) {
            console.log(paintings);
            $scope.paintings = paintings;
        });
    });
</script>



