<% include header.html %>

    <div ng-app="paintings" class="box profile">
    <fieldset class="">
        <div class="row" ng-controller="classController">
            <h2><b><%= authorName%>'s Info:</b></h2>
            <div class="span12">
                <img src="/headicon/<%= authorId %>/image.png" name="userimage" id="userimage" />
                <label><strong>Name:</strong> <%= authorName %></label>
                <label><strong>Gallery Id:</strong> <%= authorId %></label>
                <button ng-click="follow()"><%= followStatus %></button>
            </div>
            <br>
            <br>
            <h2><b><%= authorName%>'s Work:</b></h2>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Author</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Painting</th>
                        <th>Rating</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="p in paintings">
                        <td>
                            <button ng-click="comments(p.authorId, p.author, p.paintingName, p._id, p.description)">View</button>
                        </td>
                        <td>{{p.author}}</td>
                        <td><a href="http://gallerylogin-helloworldbasin.rhcloud.com/recentwork/{{p.authorId}}/{{p.author}}/{{p.paintingName}}/{{p._id}}/{{p.description}}">{{p.paintingName}}</a></td>
                        <td>{{p.description}}</td>
                        <td>
                            <img class="imgList" src="/paintings/<%= authorId %>/{{p.paintingName}}/image.png" name="userimage" id="userimage" />

                        </td>
                        <td class="ng-binding">
                            <span>{{p.rating}} of 5 stars</span>
                        </td>
                        <td>
                            <span>{{p.updated}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
</div>

<script>
    var app = angular.module('paintings', ['ngRoute']);

    app.controller('classController', function ($scope, $http, $window) {
        var openshiftUrl = "http://gallerylogin-helloworldbasin.rhcloud.com/recentwork/<%= authorId %>";
        var loaclUrl = "http://gallerylogin-helloworldbasin.rhcloud.com/recentwork/<%= authorId %>"

        $http.get(openshiftUrl).success(function (paintings) {
            console.log(paintings);
            $scope.paintings = paintings;
        });
       
        $scope.comments = function (authorId, author, name, id, desp) {
            console.log(name);
            var URL = "http://gallerylogin-helloworldbasin.rhcloud.com/recentwork/AID/AUTHOR/PNAME/PID/DESP";
            var url = URL.replace("AID", authorId);
            url = url.replace("AUTHOR", author);
            url = url.replace("PNAME", name);
            url = url.replace("PID", id);
            url = url.replace("DESP", desp);
            console.log(url);
            location.href = url;
        }

        $scope.follow = function(){
            $http.post("http://gallerylogin-helloworldbasin.rhcloud.com/friend/follow/<%= authorId %>/<%= authorName %>").success(function (friend) {
                console.log(friend);
                $window.location.reload();
            });
        }
    });
</script>


