<!doctype html>
<html>
<head>
	<title>Gallery Demo</title>

	<link rel="stylesheet" type="text/css" href="css/login.css">
	
</head>
<body class="container">
    <form>
        <fieldset>
            <label>
                The is a demo of my project<br/>
                <a href="/login" tabindex="7"><b>Click here for Login Page.</b> </a><br />
                <a href="/signup" tabindex="7"><b>Click here for Sign up Page.</b> </a>
            </label>

        </fieldset>

    </form>
</body>
</html>
