<% include header.html %>
<div ng-app="paintings" class="box profile">
    <fieldset class="">
        <div class="row" ng-controller="classController">
           
            <br>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Author</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Painting</th>
                        <th>Rating</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="p in paintings">
                        <td>
                            <button ng-click="comments(p.authorId, p.author, p.paintingName, p._id, p.description)">View</button>
                            <br/>
                            <button ng-click="edit(p.authorId, p.author, p.paintingName, p._id, p.description)">Edit</button>
                            <br/>
                            <button ng-click="delete(p.author, p.paintingName, p._id)" ng-confirm-click="Would you like to delete {{p.paintingName }}?">Delete</button>
                        </td>
                        <td>{{p.author}}</td>
                        <td>
                            <a href="http://gallerylogin-helloworldbasin.rhcloud.com/recentwork/{{p.authorId}}/{{p.author}}/{{p.paintingName}}/{{p._id}}/{{p.description}}">
                                {{p.paintingName}}
                            </a>
                        </td>
                        <td>{{p.description}}</td>
                        <td>
                            <img class="imgList" src=/paintings/{{p.authorId}}/{{p.paintingName}}/image.png name="userimage" id="userimage" />

                        </td>
                        <td class="ng-binding">
                            <span>{{p.rating}} of 5 stars</span>
                        </td>
                        <td >
                            <span>{{p.updated}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
</div>

<script>
    var app = angular.module('paintings', []);

    app.controller('classController', function ($scope, $http) {
        var openshiftUrl = "http://gallerylogin-helloworldbasin.rhcloud.com/recentwork";
        var loaclUrl = "http://gallerylogin-helloworldbasin.rhcloud.com/recentwork"
        $http.get(openshiftUrl).success(function (paintings) {
            console.log(paintings);
            $scope.paintings = paintings;
        });
        
        $scope.delete = function (author, name, id) {          
            var URL = "http://gallerylogin-helloworldbasin.rhcloud.com/delete/AUTHOR/PNAME/PID";
            var url = URL.replace("AUTHOR", author);
            url = url.replace("PNAME", name);
            url = url.replace("PID", id);
            $http.delete(url).success(function (response) {
                alert('Delete successfully.');
                $scope.all();
            });
        }
        $scope.comments = function (authorId, author, name, id, desp) {
            console.log(name);
            var URL = "http://gallerylogin-helloworldbasin.rhcloud.com/recentwork/AID/AUTHOR/PNAME/PID/DESP";
            var url = URL.replace("AID", authorId);
            url = url.replace("AUTHOR", author);
            url = url.replace("PNAME", name);
            url = url.replace("PID", id);
            url = url.replace("DESP", desp);
            console.log(url);
            location.href = url;
        }
        $scope.edit = function (authorId, author, name, id, desp) {
            var URL = "http://gallerylogin-helloworldbasin.rhcloud.com/paintingedit/AID/AUTHOR/PNAME/PID/DESP";
            var url = URL.replace("AID", authorId);
            url = url.replace("AUTHOR", author);
            url = url.replace("PNAME", name);
            url = url.replace("PID", id);
            url = url.replace("DESP", desp);
            console.log(url);
            location.href = url;
        }

        $scope.all = function () {
            $http.get(openshiftUrl)
           .success($scope.renderpaintings);
        };

        $scope.renderpaintings = function (paintings) {
            console.log("refresh");
            console.log(paintings);
            $scope.paintings = paintings;
        };

        $scope.all();
    });

    app.directive('ngConfirmClick', [
            function () {
                return {
                    priority: 1,
                    terminal: true,
                    link: function (scope, element, attr) {
                        var msg = attr.ngConfirmClick || "Are you sure?";
                        var clickAction = attr.ngClick;
                        element.bind('click', function (event) {
                            if (window.confirm(msg)) {
                                scope.$eval(clickAction)
                            }
                        });
                    }
                };
            }])
    
</script>
