<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="description" content="">
	<title>Friend List</title>
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
<!--<link rel="stylesheet" type="text/css" href="/css/reset.css" />
<link rel="stylesheet" type="text/css" href="/css/structure.css" />-->

<link rel="stylesheet"
	href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script>
    var socket = io.connect('http://gallerylogin-helloworldbasin.rhcloud.com');
    //var socket = io.connect('http://localhost:8080');
  socket.on('connect', function(){
    socket.emit('adduser', "<%= user.user.name %>, <%= user.user.address %>");
  });

  socket.on('updateusers', function(data) {
    $('#users').empty();
var html = '<h2>Friend List</h2> <ul><% for(var i=0; i<friends.length; i++) { %><li><a href="#">'
    $.each(data, function(key, value) {

        if (html.indexOf(str) != -1) {
            html += ''
        } else {
            html += '<%= friends[i] %>'
        }

     
    });

	html +=  '</a></li><% } %> </ul>'


$('#users').append(html)

  });


</script>
<style>

 


</style>
<script>
$(function () {

  $("#search-query").autocomplete({
      source: function (request, response) {
         $.ajax({
            url: "/search_member",
            type: "GET",
            data: request,  // request is the value of search input
            success: function (data) {
              // Map response values to fiedl label and value
               response($.map(data, function (el) {
                  return {
                     label: el.user.name+', '+el.user.address,
                     value: el._id
                  };
                  }));
               }
            });
         },
         
         // The minimum number of characters a user must type before a search is performed.
         minLength: 1, 
         
         // set an onFocus event to show the result on input field when result is focused
         focus: function (event, ui) { 
            this.value = ui.item.label; 
            // Prevent other event from not being execute
            event.preventDefault();
         },
         select: function (event, ui) {
            // Prevent value from being put in the input:
            this.value = ui.item.label;
            // Set the id to the next input hidden field
            $(this).next("input").val(ui.item.value); 
            // Prevent other event from not being execute            
            event.preventDefault();
            // optionnal: submit the form after field has been filled up
            $('#quicksearch').submit();
         }
  });

});
</script>
</head>
<body>
<h1 class="title">Gallery Demo</h1>
<div id="content">

<div class="topContent">
          <fieldset class="">
		<br>
              <h1>Welcome  <%= user.user.username %></h1>
          </fieldset>
        </div>
    <div id="menu">
        <fieldset class="">
            <ul class="menu">
                <li>
                    <a href="/about">
                        <h1>Home</h1>
                    </a>
                </li>
                <li>
                    <a href="/user">
                        <h1>Profile</h1>
                    </a>
                </li>
                <li>
                    <a href="/profile">
                        <h1>Friends</h1>
                    </a>
                </li>
                <li>
                    <a href="http://galleryproject-helloworldbasin.rhcloud.com/">
                        <h1>Upload Paintings</h1>
                    </a>
                </li>
                <li>
                    <a href="/logout">
                        <h1>Log Out</h1>
                    </a>
                </li>
            </ul>
        </fieldset>
    </div>
    <hr/>
    
<form action="/friend" method="post" >
<div class="box profile">
    <h1>Note: Only users who have a name (not the login id) can be searched by other users.</h1><br/>
    <h1>To add your name, please go to profile page and update your information.</h1>
		<fieldset class="">
			<div  class="row">
				<div class="span12">
					<input type="text" id="search-query" placeholder="Please input your friend's name">
                    <input type="hidden" id="anotherfriendid" name="anotherfriendid">
                    <input type="hidden" id="mainfriendid" name="mainfriendid" value ="<%= user._id %>">
                    <input type="submit" class="btnLogin" value="Add" tabindex="4">
				</div>
				<br>
				<br>
			</div>
		</fieldset>
	</div>
</form>

    <div class="box profile" id="users">



    </div>
</div>
</body>
</html>
