<% include header.html %>
<div class="box profile">
    <fieldset class="">
        <div class="row">
            <form action="/upload" method="post" enctype="multipart/form-data">
                <label>Author Name: </label>
                <input type="text" tabindex="1" name="author" value="<%= user.user.name %>" readonly />

                <label>Painting Name *: </label>
                <input type="text" tabindex="1" placeholder="Enter Your Painting's Name" name="paintingName" required />

                <label>Description *: </label>
                <textarea rows="5" cols="100" placeholder="Enter Your Description" name="description" required></textarea>

                <label>Image: </label>
                <input type="file" name="file" />

                <footer>
                    <input type="submit" value="Upload" tabindex="1">
                </footer>
            </form>
        </div>
    </fieldset>
</div>
